.questionList {
  word-break: break-word;
  h3 {
    margin: 20px 0;
  }
  &__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    li {
      padding: 10px 5px;
      border: 1px solid;
      border-radius: 8px;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  @media (max-width: 768px) {
    justify-content: space-between;    
  }
}
