.result {
  border: 1px solid rgb(8, 127, 91, 0.4);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  &__btn {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
    &--restart {
      border: 1px solid #000;
    }
    &--new {
      border: 1.5px solid rgb(8, 127, 91,);
    }
  }
  button {
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    font-weight: bolder;
    text-transform: uppercase;      
    width: 100%;
  }
}
